@import '../../app.scss';

.home {
  @include themify($themes) {
    background: themed(bgSoft);
    padding: 20px 70px;

    @include laptop{
      padding: 20px;
    }

    @include tablet{
      padding: 20px;
    }


    @include mobile{
      padding: 10px;
    }

    @include small{
      width: 109.5%;
    }


  }
}